/awe.1
/awe.mk.7
*.o
*.cmi
*.cmo
*.awe.c
*.awe.h
*.output
*.zip
.hg
._bcdi
._d
/awe.1.html
/awe.html
/awe.mk.7.html
/awe
/libawe.a
/lexer.ml
/parser.ml
/parser.mli
/scanner.dot
/scanner.inc
/testparsing
/testparsing.ml
/Tools/awnest.ml
/Tools/awnest
/Tests/Argv-Multisource/program
/Tests/Argv/program
/Tests/ExternalRecords/program
/Tests/OldParse/parse
/Tests/OldParse/parse.alw
/Tests/Separate/program
/Tests/Separate/program.c
/Tests/Separate/separate.c
/Tests/SeparateC/program
/Tests/Stderr-redirection/program
/Tests/Strings-as-bytes/program
/Tests/Tracing/program
/INSTALL.html
/Examples/List/list
/Examples/Macro/macro
/Examples/Roman/roman
/Examples/test-cords/test-cords
testme-*
